html, body {
  @include laptops {
    font-size: 15px;
  }

  @include phones {
    font-size: 14px;
  }

  @include phones-small {
    font-size: 13px;
  }
}

body {
  font-family: 'SF', sans-serif;
  background-color: $black;
  color: $font-gray;
}

.wrapper {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.box-shadow {
  box-shadow: 0 0 12px $purple;
}
